{
  "openapi": "3.0.3",
  "info": {
    "title": "dgenny — API pública",
    "description": "A API pública da dgenny permite que sistemas de terceiros criem cotações e acompanhem o seu resultado.\nA negociação com cada fornecedor ocorre por WhatsApp, conduzida pela inteligência artificial da dgenny,\ncom a possibilidade de intervenção humana a qualquer momento. Esta página é gerada a partir do código em\nprodução.\n\n## Base URL\n\n`https://api.dgenny.com` — todos os caminhos desta referência partem dela. Requisições e respostas\nsão JSON (`Content-Type: application/json`); a única exceção é o envio de arquivo de orçamento, que também\naceita `multipart/form-data`.\n\n## Autenticação\n\n1. a chave de acesso é fornecida pelo contato comercial da dgenny — ela é **por empresa** e não expira\n   automaticamente;\n2. ela deve acompanhar todas as chamadas: `Authorization: Bearer dgn_<48 hex>`;\n3. nenhuma outra credencial é necessária. A empresa é determinada pela CHAVE: nenhum identificador de\n   cliente trafega no corpo, e um `companyId` enviado é ignorado.\n\nChave ausente, inválida, revogada ou apresentada em outro esquema recebe **401 `unauthorized`**, sempre com\na mesma mensagem. Recomenda-se iniciar por `GET /api/partner/v1/me`, que devolve a empresa da chave, os\nescopos e a cota da hora corrente — é a chamada que confirma a validade da credencial.\n\n## Escopos e limites\n\nCada chave possui escopos — `read`, `write` ou ambos — e cada endpoint declara o que exige. Chave sem o\nescopo necessário recebe **403 `forbidden_scope`**, e a mensagem indica qual deles faltou. Recomenda-se\nsolicitar a chave com o menor escopo que atenda à integração.\n\nOs contadores são por empresa e por tipo de operação, em janela de uma hora:\n**3000 leituras**, **500 escritas** e\n**500 buscas de fornecedor**. Requisições acima desse limite recebem\n**429 `rate_limited`** com o cabeçalho `Retry-After` em segundos. **Requisições negadas não consomem o\ncontador**, e corpos inválidos também não — a validação ocorre antes da verificação de cota.\n\n## Convenções gerais das respostas\n\nRespostas bem-sucedidas têm sempre a forma `{ \"ok\": true, … }`, e listas têm sempre a mesma estrutura:\n`{ \"ok\": true, \"items\": [], \"nextCursor\": null }`. Falhas usam o **status HTTP real** com\n`{ \"ok\": false, \"error\", \"message\", \"field\"? }` — o tratamento programático deve se basear no **`error`**,\nque é o código estável do contrato; a `message` é texto em português destinado à leitura humana e pode\nmudar.\n\n- **valores monetários são strings decimais**, sempre com duas casas (`\"1234.56\"`). A representação em\n  texto evita que um total chegue como `1234.5599999999999` ao sistema consumidor; quantidades e\n  percentuais permanecem numéricos;\n- **datas seguem o padrão ISO 8601 em UTC**, com o sufixo `Z` (`\"2026-09-10T12:00:00.000Z\"`);\n- **o telefone do fornecedor** (o `supplierId`) é o número com **DDI**, apenas dígitos\n  (`\"554800000123\"`). Números sem DDI são recusados — a API não completa o código do país\n  automaticamente;\n- **a paginação é por cursor opaco**: `limit` de 1 a 100 (padrão 50), e o `nextCursor` deve ser reenviado\n  exatamente como recebido. `nextCursor: null` indica a última página.\n\n**Recursos de outra empresa recebem 404, nunca 403** — um 403 confirmaria que aquele identificador existe\nem algum lugar.\n\n## Os endpoints principais\n\nUm conjunto reduzido de chamadas atende à maior parte das integrações. O restante da referência cobre os\ncasos menos frequentes.\n\n| Endpoint | Finalidade |\n| --- | --- |\n| `GET /api/partner/v1/me` | confirma a chave: empresa, escopos e cota |\n| `POST /api/partner/v1/suppliers/search` | localiza novos fornecedores para um material e uma região |\n| `POST /api/partner/v1/quotations` | cria a cotação com itens e fornecedores |\n| `POST /api/partner/v1/quotations/{id}/start` | dispara a primeira mensagem a cada fornecedor |\n| `GET /api/partner/v1/quotations/{id}/negotiations` | o estado de cada fornecedor da cotação |\n| `GET /api/partner/v1/quotations/{id}/negotiations/{supplierId}/messages` | a conversa, incremental pelo `since` |\n| `POST /api/partner/v1/quotations/{id}/negotiations/{supplierId}/messages` | insere uma mensagem no lugar da IA |\n| `GET /api/partner/v1/quotations/{id}/budgets` | as propostas recebidas |\n| `GET /api/partner/v1/quotations/{id}/comparison` | a matriz item × fornecedor e o total de cada proposta |\n| `POST /api/partner/v1/quotations/{id}/complete` | encerra a cotação com o fornecedor vencedor |\n\n## O fluxo de integração\n\nDo início até o encerramento da cotação. Cada passo indica o retorno esperado.\n\n1. **`GET /me`** — devolve a empresa da chave, os escopos e a cota. Uma resposta 401 indica problema na\n   credencial, e a integração não deve prosseguir antes de resolvê-lo.\n2. **`POST /suppliers/search`** *(opcional)* — localiza fornecedores para um material e uma região. A\n   chamada permanece **aberta de 20 a 90 s**, e o timeout do cliente deve ser configurado acima desse\n   intervalo; a repetição com o mesmo `correlationId` reaproveita a busca em vez de iniciar outra.\n   Integrações que já possuem a agenda cadastrada usam `GET /suppliers` e dispensam este passo.\n3. **`POST /quotations`** — devolve o `quotationId` e a cotação em **rascunho**, com a relação de\n   fornecedores aceitos e recusados, cada um com o respectivo motivo. Enquanto está em rascunho, a cotação\n   pode ser corrigida por `PATCH /quotations/{id}`. O reenvio do mesmo `externalId` recebe **409** com o\n   `quotationId` já existente — é o mecanismo que vincula um reenvio ao registro original.\n4. **`POST /quotations/{id}/start`** — realiza o disparo. A resposta traz o desfecho por fornecedor\n   (`dispatch`), e a cotação passa a `active`. **Sem este passo a cotação permanece parada**: a criação\n   não envia mensagem alguma.\n5. **acompanhamento** — `GET /quotations/{id}/negotiations` apresenta o estado de cada fornecedor da\n   cotação.\n6. **`GET .../negotiations/{supplierId}/messages?since=…`** — devolve a conversa. O `sentAt` da última\n   mensagem processada deve ser guardado e reenviado em `since`: a listagem retorna apenas o que chegou\n   depois. Um `POST` no mesmo caminho insere uma mensagem no lugar da IA; negociações encerradas recebem\n   **409 `invalid_state`**.\n7. **`GET /quotations/{id}/budgets` e `GET /quotations/{id}/comparison`** — a proposta de cada fornecedor e\n   a matriz item × fornecedor com o total consolidado. **A decisão deve se basear no comparativo**: o\n   total não é a soma dos itens (há IPI por linha, frete, desconto global e itens cotados por fora), e o\n   comparativo entrega essas parcelas separadamente.\n8. **`POST /quotations/{id}/complete`** — encerra a cotação. `POST /quotations/{id}/cancel` é o\n   encerramento alternativo, quando a compra não se concretiza.\n\n## As seções\n\n- [**Conta**](#tag/conta) — a chave, os números de WhatsApp de origem das mensagens e os catálogos\n  aceitos na criação de uma cotação;\n- [**Cotações**](#tag/cotações) — criação, correção do rascunho, disparo, comparação e encerramento;\n- [**Negociações**](#tag/negociações) — a conversa com cada fornecedor e as ações de intervenção humana;\n- [**Orçamentos**](#tag/orçamentos) — a proposta recebida, o anexo enviado fora do WhatsApp e a releitura\n  da conversa;\n- [**Fornecedores**](#tag/fornecedores) — a busca por novos fornecedores e a agenda da empresa.",
    "version": "0.1.0+1586fc5"
  },
  "servers": [
    {
      "url": "https://api.dgenny.com"
    }
  ],
  "paths": {
    "/api/partner/v1/me": {
      "get": {
        "summary": "Confirma a chave e a empresa",
        "tags": [
          "Conta"
        ],
        "description": "Confirma a chave e devolve as informações necessárias antes da primeira chamada efetiva: **qual\nempresa** ela representa, **o que ela pode fazer** e **quanto de cota** resta na hora corrente.\n\nÉ a chamada recomendada para iniciar uma integração, e a única sem efeito algum: ela não cria,\nnão altera e não dispara nada. Confirmar a chave por uma busca custaria uma busca (cobrada, de 20\na 90 s); por uma cotação, criaria uma cotação.\n\n**`company.id`** é o identificador do tenant. Ele vem da CHAVE — nenhum endpoint aceita um\nidentificador de empresa no corpo, e enviar um é inofensivo porque o campo é ignorado.\n\n**`key.keyId`** é a impressão digital da chave (não é a chave). Recomenda-se citá-lo ao solicitar\na revogação ou ao abrir um chamado: é o que aparece no registro de auditoria da dgenny.\n\n**`limits`** traz três contadores independentes, por empresa e por hora:\n\n- `reads` — toda leitura da API;\n- `writes` — toda operação que muda estado;\n- `searches` — a busca inteligente de fornecedores, que tem cota própria porque cada chamada é\n  cobrada.\n\nAo exceder qualquer um deles a resposta é **429 `rate_limited`** com o cabeçalho `Retry-After`, e\na requisição negada **não** consome contador. `resetAt` informa quando a janela é renovada.",
        "security": [
          {
            "partner": []
          }
        ],
        "responses": {
          "200": {
            "description": "A chave é válida. A empresa, os escopos e a cota da hora corrente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerV1MeResponse"
                },
                "examples": {
                  "completo": {
                    "summary": "chave com os dois escopos",
                    "value": {
                      "ok": true,
                      "company": {
                        "id": "-OaBc1DeFgHiJkLmNoP",
                        "name": "Construtora Exemplo"
                      },
                      "key": {
                        "keyId": "3f9a1c7d0b42",
                        "partner": "exemplo",
                        "scopes": [
                          "read",
                          "write"
                        ]
                      },
                      "limits": {
                        "reads": {
                          "limit": 3000,
                          "remaining": 2988,
                          "resetAt": "2026-09-10T15:00:00.000Z"
                        },
                        "writes": {
                          "limit": 500,
                          "remaining": 497,
                          "resetAt": "2026-09-10T15:00:00.000Z"
                        },
                        "searches": {
                          "limit": 500,
                          "remaining": 500,
                          "resetAt": "2026-09-10T15:00:00.000Z"
                        }
                      }
                    }
                  },
                  "somenteLeitura": {
                    "summary": "chave restrita a leitura",
                    "value": {
                      "ok": true,
                      "company": {
                        "id": "-OaBc1DeFgHiJkLmNoP",
                        "name": "Construtora Exemplo"
                      },
                      "key": {
                        "keyId": "3f9a1c7d0b42",
                        "partner": "exemplo",
                        "scopes": [
                          "read"
                        ]
                      },
                      "limits": {
                        "reads": {
                          "limit": 3000,
                          "remaining": 2988,
                          "resetAt": "2026-09-10T15:00:00.000Z"
                        },
                        "writes": {
                          "limit": 500,
                          "remaining": 497,
                          "resetAt": "2026-09-10T15:00:00.000Z"
                        },
                        "searches": {
                          "limit": 500,
                          "remaining": 500,
                          "resetAt": "2026-09-10T15:00:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada. Sempre com esta mensagem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized",
                    "value": {
                      "ok": false,
                      "error": "unauthorized",
                      "message": "Token ausente, inválido ou revogado."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave é válida, mas não possui o escopo exigido por este endpoint. É o único 403 relativo à CHAVE — credencial inválida continua sendo 401. Recomenda-se solicitar uma chave com o escopo necessário.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "forbidden_scope": {
                    "summary": "forbidden_scope",
                    "value": {
                      "ok": false,
                      "error": "forbidden_scope",
                      "message": "Esta chave não tem o escopo 'read', exigido por este endpoint."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Cota de 3000 leituras por hora (por empresa) excedida. O cabeçalho `Retry-After` informa os segundos restantes, e a requisição negada NÃO consome contador.",
            "headers": {
              "Retry-After": {
                "description": "Segundos até a reabertura da janela.",
                "schema": {
                  "type": "integer",
                  "example": 1800
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "ok": false,
                      "error": "rate_limited",
                      "message": "Limite de leituras por hora atingido. Tente novamente em 1800s."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Falha interna da dgenny. Nada foi alterado — a MESMA requisição pode ser reenviada. Nenhum detalhe interno é exposto: ele permanece apenas no log da dgenny.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "ok": false,
                      "error": "internal_error",
                      "message": "Falha interna. Pode reenviar a mesma requisição."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/partner/v1/whatsapp/numbers": {
      "get": {
        "summary": "Números de WhatsApp da conta",
        "tags": [
          "Conta"
        ],
        "description": "Os números de WhatsApp da conta — é de um deles que a negociação sai.\n\nRecomenda-se chamar este endpoint ANTES de criar a primeira cotação. O número de negociação é\nobrigatório na criação, e um número que não está apto é recusado imediatamente; descobrir isso por\ntentativa e erro custa uma cotação reprovada por chamada.\n\n**O `id` deve ser guardado**, e ele nem sempre é o telefone: em conta da API oficial do WhatsApp o\nidentificador do número na plataforma é uma coisa e o telefone é outra. O campo `whatsappNumber`\nda criação de cotação aceita **o `id` ou o `phone`** — os dois chegam à mesma instância.\nRecomenda-se o `id`: ele não muda quando a formatação do telefone é corrigida no cadastro. O\n`phone` destina-se à exibição.\n\n**`connected`** informa se é possível abrir negociação por aquele número no momento, e são duas\ncondições: o número está cadastrado na conta e, em `evolution` e `zapi`, a **sessão está ativa**.\nNesses dois provedores o WhatsApp fica pareado como no aplicativo, e uma sessão interrompida não\nenvia mesmo com o número cadastrado — a reconexão é feita pelo painel. Em `meta` não existe sessão\n(a API oficial envia por requisição), então ali um número cadastrado está sempre apto.\n\n**`isDefault`** marca o número que a dgenny escolhe automaticamente quando a conta tem exatamente\num apto. Com dois ou mais, nenhum é padrão: a escolha passa a ser do sistema consumidor.\n\nConta que ainda não conectou WhatsApp responde `200` com `items: []` — não é erro.",
        "parameters": [
          {
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Quantidade de itens por página, de 1 a 100. Padrão 50."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "O `nextCursor` da página anterior deve ser reenviado **exatamente** como recebido, sem interpretação do conteúdo. A omissão do campo solicita a primeira página."
          }
        ],
        "security": [
          {
            "partner": []
          }
        ],
        "responses": {
          "200": {
            "description": "Os números da conta. O `id` de um número com `connected: true` deve ser guardado — é ele que a criação de cotação aceita como número de negociação.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerV1WhatsAppNumbers"
                },
                "examples": {
                  "umNumero": {
                    "summary": "um número apto — ele é o padrão da conta",
                    "value": {
                      "ok": true,
                      "items": [
                        {
                          "id": "100000000000001",
                          "phone": "554800000000",
                          "displayName": "Suprimentos",
                          "provider": "meta",
                          "connected": true,
                          "isDefault": true
                        }
                      ],
                      "nextCursor": null
                    }
                  },
                  "doisNumeros": {
                    "summary": "dois números aptos — a conta não tem padrão, e a escolha cabe ao integrador",
                    "value": {
                      "ok": true,
                      "items": [
                        {
                          "id": "100000000000001",
                          "phone": "554800000000",
                          "displayName": "Suprimentos",
                          "provider": "meta",
                          "connected": true,
                          "isDefault": false
                        },
                        {
                          "id": "554800000001",
                          "phone": "554800000001",
                          "displayName": null,
                          "provider": "evolution",
                          "connected": true,
                          "isDefault": false
                        }
                      ],
                      "nextCursor": null
                    }
                  },
                  "semNumero": {
                    "summary": "conta que ainda não conectou WhatsApp",
                    "value": {
                      "ok": true,
                      "items": [],
                      "nextCursor": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query inválida: `limit` fora de 1–100, ou um `cursor` que não foi devolvido por uma página desta API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "validation_error": {
                    "summary": "limit fora da faixa",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "limit deve ser um número inteiro entre 1 e 100.",
                      "field": "limit"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada. Sempre com esta mensagem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized",
                    "value": {
                      "ok": false,
                      "error": "unauthorized",
                      "message": "Token ausente, inválido ou revogado."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave é válida, mas não possui o escopo `read`, exigido por este endpoint. É o único 403 relativo à CHAVE — credencial inválida continua sendo 401.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "forbidden_scope": {
                    "summary": "forbidden_scope",
                    "value": {
                      "ok": false,
                      "error": "forbidden_scope",
                      "message": "Esta chave não tem o escopo 'read', exigido por este endpoint."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Cota de 3000 leituras por hora (por empresa) excedida. O cabeçalho `Retry-After` informa os segundos restantes, e a requisição negada NÃO consome contador.",
            "headers": {
              "Retry-After": {
                "description": "Segundos até a reabertura da janela.",
                "schema": {
                  "type": "integer",
                  "example": 1800
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "ok": false,
                      "error": "rate_limited",
                      "message": "Limite de leituras por hora atingido. Tente novamente em 1800s."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Falha interna da dgenny ao ler os números da conta. Nada foi alterado — a MESMA requisição pode ser reenviada. Nenhum detalhe interno é exposto: ele permanece apenas no log da dgenny.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "ok": false,
                      "error": "internal_error",
                      "message": "Falha interna. Pode reenviar a mesma requisição."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/partner/v1/catalogs/{type}": {
      "get": {
        "summary": "Cadastros que uma cotação referencia",
        "tags": [
          "Conta"
        ],
        "description": "Os cadastros que uma cotação referencia, com o `id` que é enviado na criação.\n\nSão três, escolhidos pelo caminho:\n\n- **`delivery-locations`** — onde a mercadoria é entregue (`name`, `address`, `observation`);\n- **`billing-locations`** — em nome de quem a nota é emitida (`cnpj`, `legalName`, `tradeName`,\n  `stateTaxId`). `legalName` é o nome legal do titular e costuma diferir do `name`, que é o rótulo\n  curto da tela;\n- **`payment-methods`** — a condição de pagamento, em texto (`name`, `description`). É prazo e\n  forma combinados com o fornecedor, nunca uma cobrança processada pela dgenny.\n\n**A forma do item é a MESMA nos três**, e o campo que não se aplica ao tipo vem `null`: basta um\ndesserializador, e um tipo novo de catálogo não altera o que já é lido.\n\n**`externalId` é o identificador do sistema consumidor.** Quando ele é enviado na criação de\ncotação, o registro correspondente é reaproveitado e atualizado em vez de duplicado — é assim que\nos dois cadastros permanecem conciliados sem nenhuma digitação em duplicidade. `null` aqui\nsignifica que o registro nasceu na tela e ainda não foi conciliado.\n\n**`isDefault`** é a marca de padrão da conta, no máximo uma por catálogo. Ela se aplica quando a\nrequisição não informa o local ou a condição.\n\nUm tipo fora dos três responde `400 validation_error`.",
        "parameters": [
          {
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Quantidade de itens por página, de 1 a 100. Padrão 50."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "O `nextCursor` da página anterior deve ser reenviado **exatamente** como recebido, sem interpretação do conteúdo. A omissão do campo solicita a primeira página."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "delivery-locations",
                "billing-locations",
                "payment-methods"
              ]
            },
            "in": "path",
            "name": "type",
            "required": true
          }
        ],
        "security": [
          {
            "partner": []
          }
        ],
        "responses": {
          "200": {
            "description": "Os registros do catálogo pedido, em páginas. O `id` de cada item é o que a criação de cotação referencia.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerV1Catalog"
                },
                "examples": {
                  "deliveryLocations": {
                    "summary": "delivery-locations — onde a mercadoria é entregue",
                    "value": {
                      "ok": true,
                      "items": [
                        {
                          "id": "-LOCAL_DE_ENTREGA_0001",
                          "externalId": "OBRA-014",
                          "name": "Obra Centro",
                          "description": null,
                          "address": "Rua Exemplo, 100. Centro. Florianópolis - SC",
                          "observation": "Entregas de segunda a sexta, até 16h.",
                          "personType": null,
                          "cnpj": null,
                          "legalName": null,
                          "tradeName": null,
                          "stateTaxId": null,
                          "isDefault": true,
                          "createdAt": "2025-07-22T15:00:03.374Z",
                          "updatedAt": "2025-08-26T17:25:01.781Z"
                        }
                      ],
                      "nextCursor": "eyJhZnRlciI6Ii1MT0NBTF9ERV9FTlRSRUdBXzAwMDEifQ"
                    }
                  },
                  "billingLocations": {
                    "summary": "billing-locations — em nome de quem a nota é emitida",
                    "value": {
                      "ok": true,
                      "items": [
                        {
                          "id": "-LOCAL_DE_FATURAMENTO_1",
                          "externalId": null,
                          "name": "Matriz",
                          "description": null,
                          "address": "Rua Exemplo, 100. Centro. Florianópolis - SC",
                          "observation": "Entregas de segunda a sexta, até 16h.",
                          "personType": "company",
                          "cnpj": "12345678000195",
                          "legalName": "Construtora Exemplo Ltda",
                          "tradeName": "Construtora Exemplo",
                          "stateTaxId": "ISENTO",
                          "isDefault": true,
                          "createdAt": "2025-07-22T15:00:03.374Z",
                          "updatedAt": "2025-08-26T17:25:01.781Z"
                        }
                      ],
                      "nextCursor": null
                    }
                  },
                  "paymentMethods": {
                    "summary": "payment-methods — a condição de pagamento, em texto",
                    "value": {
                      "ok": true,
                      "items": [
                        {
                          "id": "-CONDICAO_DE_PAGTO_0001",
                          "externalId": "COND-7",
                          "name": "Boleto 28 dias",
                          "description": "Pagamento faturado por boleto para 28 dias.",
                          "address": null,
                          "observation": null,
                          "personType": null,
                          "cnpj": null,
                          "legalName": null,
                          "tradeName": null,
                          "stateTaxId": null,
                          "isDefault": false,
                          "createdAt": "2025-07-22T15:00:03.374Z",
                          "updatedAt": "2025-08-26T17:25:01.781Z"
                        }
                      ],
                      "nextCursor": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Tipo de catálogo fora dos três, `limit` fora de 1–100, ou um `cursor` que não foi devolvido por uma página desta API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "tipoInvalido": {
                    "summary": "tipo de catálogo fora dos três",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "type deve ser delivery-locations, billing-locations ou payment-methods.",
                      "field": "type"
                    }
                  },
                  "cursorInvalido": {
                    "summary": "validation_error",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "Cursor inválido. Reenvie exatamente o `nextCursor` devolvido pela página anterior."
                    }
                  },
                  "cursorExpirado": {
                    "summary": "validation_error",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "Cursor inválido ou expirado. Recomece a listagem sem `cursor`."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada. Sempre com esta mensagem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized",
                    "value": {
                      "ok": false,
                      "error": "unauthorized",
                      "message": "Token ausente, inválido ou revogado."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave é válida, mas não possui o escopo `read`, exigido por este endpoint. É o único 403 relativo à CHAVE — credencial inválida continua sendo 401.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "forbidden_scope": {
                    "summary": "forbidden_scope",
                    "value": {
                      "ok": false,
                      "error": "forbidden_scope",
                      "message": "Esta chave não tem o escopo 'read', exigido por este endpoint."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Cota de 3000 leituras por hora (por empresa) excedida. O cabeçalho `Retry-After` informa os segundos restantes, e a requisição negada NÃO consome contador.",
            "headers": {
              "Retry-After": {
                "description": "Segundos até a reabertura da janela.",
                "schema": {
                  "type": "integer",
                  "example": 1800
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "ok": false,
                      "error": "rate_limited",
                      "message": "Limite de leituras por hora atingido. Tente novamente em 1800s."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Falha interna da dgenny ao ler o catálogo. Nada foi alterado — a MESMA requisição pode ser reenviada. Nenhum detalhe interno é exposto: ele permanece apenas no log da dgenny.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "ok": false,
                      "error": "internal_error",
                      "message": "Falha interna. Pode reenviar a mesma requisição."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/partner/v1/quotations": {
      "post": {
        "summary": "Cria uma cotação a partir do sistema consumidor",
        "tags": [
          "Cotações"
        ],
        "description": "Recebe a cotação inteira, já montada no sistema consumidor, e cria a negociação na dgenny.\n\nPor padrão ela nasce **parada** (`draft`): fica no painel, pronta para o comprador revisar e\niniciar. Com o objeto `start`, ela dispara — imediatamente, ou no instante de `start.at`.\n\n**Idempotência.** Uma cotação por `externalId`. O reenvio do mesmo identificador responde **409\n`conflict`** com o `quotationId` que já existe, e não cria nada — é o que torna seguro repetir a\nchamada depois de um timeout de rede.\n\nO que o schema não informa e é necessário saber:\n\n- **os três catálogos** (`deliveryLocation`, `billingLocation`, `paymentMethod`) aceitam duas\n  formas: `{ \"id\": \"...\" }` para apontar um registro que já existe, ou o objeto completo com\n  `externalId`, que é procurado por esse identificador e criado se não houver. Com as duas\n  presentes, o `id` prevalece;\n- **`phone` de fornecedor exige o DDI** e é só dígitos. Um número sem DDI é recusado, nunca\n  completado: um celular brasileiro sem DDI tem o mesmo tamanho de um número de outro país, e a\n  inferência enviaria a cotação a outra pessoa. O `supplierId` devolvido na resposta é esse\n  telefone — é por ele que o fornecedor é endereçado no restante da API;\n- **`estimatedPrice` é o valor em reais**, string ou número (`\"45.50\"` ou `45.5`). Ele não é\n  apresentado ao fornecedor;\n- **`whatsappNumber` pode ser omitido** quando a conta tem um único número conectado. Com mais de\n  um ele é obrigatório: a escolha automática definiria por qual identidade a empresa fala com o\n  fornecedor;\n- **os documentos são baixados dentro da requisição**, antes de a cotação ser gravada. Se um\n  falhar, nada foi criado (nem o registro de idempotência) e o reenvio do MESMO `externalId`\n  funciona;\n- **`buyer.email` determina quem ASSINA a cotação.** O responsável é o que o painel apresenta na\n  cotação e o nome com que a primeira mensagem se apresenta ao fornecedor (\"Sou Ana, da sua\n  empresa\"). Com o e-mail de um usuário da conta, é ele; **sem o campo, quem assina é o nome da\n  empresa na dgenny**. Recomenda-se enviar `buyer.email` sempre que o comprador for conhecido: é\n  o que faz a cotação aparecer para ele no painel e o que dá um nome de pessoa ao fornecedor;\n- **`engine` define o motor de negociação** e é opcional: quando omitido, vale `b2b`. O valor\n  `b2c` exige que a empresa esteja habilitada para o motor B2C, e a empresa habilitada para o\n  motor B2C aceita somente `b2c`. O motor não pode ser alterado após a criação.\n\n**Erros específicos**, além de `unauthorized` (401), `forbidden_scope` (403), `validation_error`\n(400) e `rate_limited` (429): `conflict` (409, com o `quotationId` existente);\n`unknown_reference` (422) quando o catálogo ou o comprador apontado não existe na conta;\n`document_download_failed`, `document_url_blocked` e `document_type_not_allowed` (422) na esteira\nde documentos; `engine_not_allowed` (422) quando o `engine` não corresponde ao motor habilitado\npara a empresa. **`whatsappNumber` que não corresponde a nenhum número da conta é 400**, e não 422:\nali não há nada a cadastrar antes de reenviar — a correção é no payload.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "externalId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120,
                    "pattern": "^[A-Za-z0-9_:-]+$"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "observation": {
                    "type": "string"
                  },
                  "freight": {
                    "type": "string",
                    "enum": [
                      "CIF",
                      "FOB",
                      "INSTALLED",
                      "PICKUP",
                      "NO_FREIGHT",
                      "NEGOTIABLE"
                    ]
                  },
                  "proposalDeadline": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                    "description": "Data no formato `YYYY-MM-DD`."
                  },
                  "deliveryDeadline": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                        "description": "Data no formato `YYYY-MM-DD`."
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "deliveryLocation": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "address": {
                            "type": "string",
                            "minLength": 1
                          },
                          "observation": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "externalId",
                          "title",
                          "address"
                        ]
                      }
                    ]
                  },
                  "billingLocation": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cnpj": {
                            "type": "string",
                            "minLength": 1
                          },
                          "razaoSocial": {
                            "type": "string"
                          },
                          "nomeFantasia": {
                            "type": "string"
                          },
                          "inscricaoEstadual": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "observation": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "externalId",
                          "title",
                          "cnpj"
                        ]
                      }
                    ]
                  },
                  "paymentMethod": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "description": {
                            "type": "string"
                          },
                          "observation": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "externalId",
                          "title"
                        ]
                      }
                    ]
                  },
                  "buyer": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "email"
                    ]
                  },
                  "whatsappNumber": {
                    "description": "O `id` de um número de `GET /partner/v1/whatsapp/numbers` ou o telefone com DDI. Opcional quando a conta possui apenas um número; obrigatório quando possui dois ou mais.",
                    "type": "string"
                  },
                  "items": {
                    "minItems": 1,
                    "maxItems": 200,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemNumber": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "description": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "number",
                          "exclusiveMinimum": 0
                        },
                        "unit": {
                          "type": "string",
                          "minLength": 1
                        },
                        "estimatedPrice": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ],
                          "description": "Valor em reais. Aceita **string** (`\"1234.56\"`, o formato que a API devolve) ou **número**\n(`1234.56`), com até 2 casas decimais e ponto como separador.\n\nRecusado com `validation_error`: valor negativo, mais de 2 casas decimais e formato com\nvírgula (`\"1.234,56\"`). A vírgula não é convertida de propósito — `\"1.234,56\"` e `\"1,234.56\"`\nsão o mesmo valor em duas convenções, e inferir qual delas foi utilizada produziria um erro\nde 1000× exatamente uma vez. A resposta sempre traz a string normalizada."
                        },
                        "observation": {
                          "type": "string"
                        },
                        "purchaseRequestId": {
                          "description": "Número da solicitação de compra desta linha no sistema consumidor, como INTEIRO. É por ele que a proposta do fornecedor é associada de volta à linha, e a comparação é numérica.",
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "itemNumber",
                        "description",
                        "quantity",
                        "unit"
                      ]
                    }
                  },
                  "suppliers": {
                    "minItems": 1,
                    "maxItems": 30,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "externalId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "contactName": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string",
                          "minLength": 12,
                          "maxLength": 20
                        }
                      },
                      "required": [
                        "name",
                        "phone"
                      ]
                    }
                  },
                  "documents": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "minLength": 1
                        },
                        "description": {
                          "type": "string",
                          "minLength": 1
                        },
                        "filename": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url",
                        "description"
                      ]
                    }
                  },
                  "start": {
                    "type": "object",
                    "properties": {
                      "at": {
                        "type": "string"
                      }
                    }
                  },
                  "engine": {
                    "description": "Motor de negociação da cotação. Opcional; quando omitido, `b2b`. O valor `b2c` exige que a empresa esteja habilitada para o motor B2C, e empresa habilitada para o motor B2C aceita somente `b2c`; a divergência responde 422 `engine_not_allowed`. Não pode ser alterado após a criação.",
                    "type": "string",
                    "enum": [
                      "b2b",
                      "b2c"
                    ]
                  }
                },
                "required": [
                  "externalId",
                  "name",
                  "freight",
                  "proposalDeadline",
                  "deliveryLocation",
                  "billingLocation",
                  "paymentMethod",
                  "items",
                  "suppliers"
                ]
              },
              "examples": {
                "minimo": {
                  "summary": "o mínimo: catálogos por id, um item, um fornecedor, cotação parada",
                  "value": {
                    "externalId": "SC-2026-4417",
                    "name": "Elétrica — obra Campeche",
                    "freight": "CIF",
                    "proposalDeadline": "2026-09-18",
                    "deliveryDeadline": "2026-09-30",
                    "deliveryLocation": {
                      "id": "-OqExemplo2Entrega01"
                    },
                    "billingLocation": {
                      "id": "-OqExemplo3Faturam01"
                    },
                    "paymentMethod": {
                      "id": "-OqExemplo4Pagamen01"
                    },
                    "items": [
                      {
                        "itemNumber": 1,
                        "description": "Disjuntor DIN 20A monopolar",
                        "quantity": 20,
                        "unit": "UN"
                      }
                    ],
                    "suppliers": [
                      {
                        "externalId": "F-100",
                        "name": "Elétrica Aurora Ltda",
                        "contactName": "Marcos",
                        "phone": "5548999990000"
                      }
                    ]
                  }
                },
                "completo": {
                  "summary": "catálogos por objeto, preços, documento, comprador e disparo agendado",
                  "value": {
                    "externalId": "SC-2026-4418",
                    "name": "Elétrica — obra Campeche",
                    "freight": "CIF",
                    "proposalDeadline": "2026-09-18",
                    "deliveryDeadline": null,
                    "deliveryLocation": {
                      "externalId": "LOC-CAMPECHE",
                      "title": "Obra Campeche",
                      "address": "Av. Campeche, 555 — Florianópolis/SC"
                    },
                    "billingLocation": {
                      "externalId": "CNPJ-MATRIZ",
                      "title": "Matriz",
                      "cnpj": "12345678000195",
                      "razaoSocial": "Construtora Exemplo Ltda"
                    },
                    "paymentMethod": {
                      "externalId": "PAG-28",
                      "title": "Boleto 28 dias",
                      "description": "Faturado, vencimento em 28 dias"
                    },
                    "items": [
                      {
                        "itemNumber": 1,
                        "description": "Disjuntor DIN 20A monopolar",
                        "quantity": 20,
                        "unit": "UN",
                        "estimatedPrice": "18.90",
                        "purchaseRequestId": 441701,
                        "observation": "Curva C"
                      },
                      {
                        "itemNumber": 2,
                        "description": "Cabo flexível 2,5mm² azul",
                        "quantity": 200,
                        "unit": "M",
                        "estimatedPrice": 3.4
                      }
                    ],
                    "suppliers": [
                      {
                        "externalId": "F-100",
                        "name": "Elétrica Aurora Ltda",
                        "contactName": "Marcos",
                        "phone": "5548999990000"
                      }
                    ],
                    "observation": "Entrega em duas etapas; confirmar disponibilidade antes de faturar.",
                    "buyer": {
                      "email": "compras@construtoraexemplo.com.br"
                    },
                    "whatsappNumber": "554800000900",
                    "documents": [
                      {
                        "url": "https://arquivos.construtoraexemplo.com.br/sc/4418/memorial.pdf",
                        "description": "Memorial descritivo"
                      }
                    ],
                    "start": {
                      "at": "2026-09-15T09:00:00-03:00"
                    },
                    "engine": "b2b"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "partner": []
          }
        ],
        "responses": {
          "201": {
            "description": "A cotação foi criada. O `quotationId` deve ser guardado: é ele que identifica a cotação nesta API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerV1CreateQuotationResponse"
                },
                "examples": {
                  "parada": {
                    "summary": "sem `start`: a cotação nasce parada, para o comprador iniciar",
                    "value": {
                      "ok": true,
                      "quotationId": "-OqExemplo1Cotacao01",
                      "externalId": "SC-2026-4417",
                      "status": "draft",
                      "suppliers": [
                        {
                          "supplierId": "5548999990000",
                          "externalId": "F-100",
                          "accepted": true
                        }
                      ]
                    }
                  },
                  "disparada": {
                    "summary": "com `start`: já foi para a fila — `onHold` é quem espera outra conversa terminar",
                    "value": {
                      "ok": true,
                      "quotationId": "-OqExemplo1Cotacao01",
                      "externalId": "SC-2026-4418",
                      "status": "active",
                      "suppliers": [
                        {
                          "supplierId": "5548999990000",
                          "externalId": "F-100",
                          "accepted": true
                        }
                      ],
                      "dispatch": {
                        "queued": 1,
                        "onHold": 1,
                        "scheduled": 0,
                        "errors": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O corpo não passou na validação. A mensagem é em português e o `field` aponta a posição exata do campo no payload enviado — inclusive dentro das listas (`items[2].estimatedPrice`). A validação para no PRIMEIRO problema. Requisição recusada aqui **não consome cota**.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "campo_ausente": {
                    "summary": "campo obrigatório que não veio",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "externalId é obrigatório.",
                      "field": "externalId"
                    }
                  },
                  "externalId_com_ponto": {
                    "summary": "identificador com um caractere que não pode virar chave",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "externalId aceita apenas letras, números e os sinais _ : - (sem ponto, barra ou espaço).",
                      "field": "externalId"
                    }
                  },
                  "opcao_invalida": {
                    "summary": "valor fora da lista aceita — as opções vêm na mensagem",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "freight deve ser um de: CIF, FOB, INSTALLED, PICKUP, NO_FREIGHT, NEGOTIABLE.",
                      "field": "freight"
                    }
                  },
                  "telefone_sem_ddi": {
                    "summary": "fornecedor sem o DDI do país",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "suppliers[0].phone inválido: envie somente dígitos, com o DDI do país (ex.: 5548999990000).",
                      "field": "suppliers[0].phone"
                    }
                  },
                  "item_repetido": {
                    "summary": "dois itens com o mesmo número de linha",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "items[1].itemNumber 1 duplicado na cotação.",
                      "field": "items[1].itemNumber"
                    }
                  },
                  "dinheiro_com_virgula": {
                    "summary": "valor com vírgula — a conversão não é inferida",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "Valor monetário inválido. Use um número em reais com até 2 casas decimais e ponto como separador — por exemplo \"1234.56\" ou 1234.56.",
                      "field": "items[0].estimatedPrice"
                    }
                  },
                  "varios_numeros": {
                    "summary": "a conta tem mais de um WhatsApp conectado e o corpo não indicou qual",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "whatsappNumber é obrigatório: a sua conta tem 2 números de WhatsApp conectados.",
                      "field": "whatsappNumber"
                    }
                  },
                  "numero_desconhecido": {
                    "summary": "um número de WhatsApp que não pertence à conta",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "whatsappNumber 554800000901 não é um número de WhatsApp conectado na dgenny.",
                      "field": "whatsappNumber"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada. Sempre com esta mensagem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized",
                    "value": {
                      "ok": false,
                      "error": "unauthorized",
                      "message": "Token ausente, inválido ou revogado."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave é válida, mas não possui o escopo exigido por este endpoint. É o único 403 relativo à CHAVE — credencial inválida continua sendo 401.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "forbidden_scope": {
                    "summary": "forbidden_scope",
                    "value": {
                      "ok": false,
                      "error": "forbidden_scope",
                      "message": "Esta chave não tem o escopo 'write', exigido por este endpoint."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Este `externalId` já criou uma cotação. **Nada foi criado agora** — é a resposta segura de um reenvio. O `quotationId` é o da cotação que já existe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerV1ConflictQuotationResponse"
                },
                "examples": {
                  "conflict": {
                    "summary": "reenvio do mesmo identificador",
                    "value": {
                      "ok": false,
                      "error": "conflict",
                      "message": "externalId SC-2026-4417 já foi recebido.",
                      "quotationId": "-OqExemplo1Cotacao01"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "O corpo está bem formado, mas aponta para um registro que não existe na conta da chave — catálogo ou comprador —, traz um documento cujo download não foi possível, ou declara um `engine` diferente do motor habilitado para a empresa. **Número de WhatsApp que não corresponde à conta não entra aqui:** ele é 400 `validation_error`, o mesmo código de `POST /quotations/{id}/start`, porque ali não há nada a cadastrar antes do reenvio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "unknown_reference": {
                    "summary": "comprador que não existe na conta",
                    "value": {
                      "ok": false,
                      "error": "unknown_reference",
                      "message": "buyer.email compras@exemplo.com sem usuário correspondente na dgenny.",
                      "field": "buyer.email"
                    }
                  },
                  "catalogo_inexistente": {
                    "summary": "catálogo apontado por um id que não existe",
                    "value": {
                      "ok": false,
                      "error": "unknown_reference",
                      "message": "deliveryLocation.id -OqExemplo2Entrega01 não encontrado no catálogo de locais de entrega.",
                      "field": "deliveryLocation.id"
                    }
                  },
                  "document_download_failed": {
                    "summary": "document_download_failed",
                    "value": {
                      "ok": false,
                      "error": "document_download_failed",
                      "message": "Não foi possível baixar o documento em documents[0].url."
                    }
                  },
                  "engine_not_allowed": {
                    "summary": "motor B2C solicitado por empresa não habilitada para ele",
                    "value": {
                      "ok": false,
                      "error": "engine_not_allowed",
                      "message": "A empresa não está habilitada para o motor B2C. Omita o campo engine ou envie b2b.",
                      "field": "engine"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Cota da hora corrente excedida. O cabeçalho `Retry-After` informa os segundos restantes.",
            "headers": {
              "Retry-After": {
                "description": "Segundos até a reabertura da janela.",
                "schema": {
                  "type": "integer",
                  "example": 1800
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "ok": false,
                      "error": "rate_limited",
                      "message": "Limite de leituras por hora atingido. Tente novamente em 1800s."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Falha interna da dgenny. Nenhum detalhe interno é exposto: ele permanece apenas no log da dgenny. A MESMA requisição pode ser reenviada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "ok": false,
                      "error": "internal_error",
                      "message": "Falha interna. Pode reenviar a mesma requisição."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Lista as cotações da empresa",
        "tags": [
          "Cotações"
        ],
        "description": "Lista as cotações da empresa, **da mais recente para a mais antiga** (por data de alteração, com a\ndata de criação como substituto para registros antigos que não têm a primeira).\n\n**Paginação por cursor.** Cada resposta traz `nextCursor`, que deve ser reenviado em `cursor` para\nobter a página seguinte, exatamente como veio e sem interpretar o conteúdo — ele é opaco de\npropósito e muda quando a ordenação mudar. `nextCursor: null` é a última página.\n\n**Sincronização incremental.** O maior `updatedAt` observado deve ser guardado e reenviado em\n`updatedSince` na varredura seguinte: a resposta traz apenas o que mudou desde então.\n\n`deliveryDeadline: null` significa **entrega a combinar**, que é um valor de negócio e não\nausência de dado. `suppliersCount` conta todos os fornecedores da cotação e\n`selectedSuppliersCount` apenas os marcados para receber.\n\n**`?status=scheduled` traz as cotações com disparo marcado** e nenhuma delas aparece em\n`?status=active`: as duas listas são disjuntas, e é a mesma régua que o campo `status` de cada\nlinha usa.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "active",
                "completed",
                "cancelled",
                "closed"
              ]
            },
            "in": "query",
            "name": "status",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "updatedSince",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false
          },
          {
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "in": "query",
            "name": "limit",
            "required": false
          }
        ],
        "security": [
          {
            "partner": []
          }
        ],
        "responses": {
          "200": {
            "description": "A página, da cotação alterada mais recentemente para a mais antiga.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerV1ListQuotationsResponse"
                },
                "examples": {
                  "primeira_pagina": {
                    "summary": "primeira página, com continuação",
                    "value": {
                      "ok": true,
                      "items": [
                        {
                          "id": "-OqExemplo1Cotacao01",
                          "externalId": "SC-2026-4417",
                          "name": "Elétrica — obra Campeche",
                          "status": "active",
                          "createdAt": "2026-09-10T12:57:58.605Z",
                          "updatedAt": "2026-09-10T13:58:35.272Z",
                          "proposalDeadline": "2026-09-18",
                          "deliveryDeadline": "2026-09-30",
                          "suppliersCount": 12,
                          "selectedSuppliersCount": 4,
                          "whatsappNumber": "554800000900",
                          "source": "api",
                          "scheduledFor": null
                        },
                        {
                          "id": "-OqExemplo5Cotacao02",
                          "externalId": null,
                          "name": "Elétrica — obra Campeche",
                          "status": "active",
                          "createdAt": "2026-09-10T12:57:58.605Z",
                          "updatedAt": "2026-09-10T13:58:35.272Z",
                          "proposalDeadline": "2026-09-18",
                          "deliveryDeadline": "2026-09-30",
                          "suppliersCount": 12,
                          "selectedSuppliersCount": 4,
                          "whatsappNumber": "554800000900",
                          "source": "panel",
                          "scheduledFor": null
                        }
                      ],
                      "nextCursor": "CURSOR-OPACO-DA-PAGINA-SEGUINTE"
                    }
                  },
                  "ultima_pagina": {
                    "summary": "última página: `nextCursor` nulo",
                    "value": {
                      "ok": true,
                      "items": [
                        {
                          "id": "-OqExemplo1Cotacao01",
                          "externalId": "SC-2026-4417",
                          "name": "Elétrica — obra Campeche",
                          "status": "active",
                          "createdAt": "2026-09-10T12:57:58.605Z",
                          "updatedAt": "2026-09-10T13:58:35.272Z",
                          "proposalDeadline": "2026-09-18",
                          "deliveryDeadline": "2026-09-30",
                          "suppliersCount": 12,
                          "selectedSuppliersCount": 4,
                          "whatsappNumber": "554800000900",
                          "source": "api",
                          "scheduledFor": null
                        }
                      ],
                      "nextCursor": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Filtro ou cursor inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "cursor_invalido": {
                    "summary": "cursor que não foi devolvido por uma página desta API",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "Cursor inválido. Reenvie exatamente o `nextCursor` devolvido pela página anterior.",
                      "field": "cursor"
                    }
                  },
                  "limite_fora_da_faixa": {
                    "summary": "`limit` fora de 1–100",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "limit deve ser menor ou igual a 100.",
                      "field": "limit"
                    }
                  },
                  "data_invalida": {
                    "summary": "`updatedSince` que não é uma data",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "updatedSince deve ser uma data ISO 8601 (ex.: 2026-09-01T00:00:00Z).",
                      "field": "updatedSince"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada. Sempre com esta mensagem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized",
                    "value": {
                      "ok": false,
                      "error": "unauthorized",
                      "message": "Token ausente, inválido ou revogado."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave é válida, mas não possui o escopo exigido por este endpoint. É o único 403 relativo à CHAVE — credencial inválida continua sendo 401.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "forbidden_scope": {
                    "summary": "forbidden_scope",
                    "value": {
                      "ok": false,
                      "error": "forbidden_scope",
                      "message": "Esta chave não tem o escopo 'read', exigido por este endpoint."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Cota da hora corrente excedida. O cabeçalho `Retry-After` informa os segundos restantes.",
            "headers": {
              "Retry-After": {
                "description": "Segundos até a reabertura da janela.",
                "schema": {
                  "type": "integer",
                  "example": 1800
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "ok": false,
                      "error": "rate_limited",
                      "message": "Limite de leituras por hora atingido. Tente novamente em 1800s."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Falha interna da dgenny. Nenhum detalhe interno é exposto: ele permanece apenas no log da dgenny. A MESMA requisição pode ser reenviada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "ok": false,
                      "error": "internal_error",
                      "message": "Falha interna. Pode reenviar a mesma requisição."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/partner/v1/quotations/{id}": {
      "get": {
        "summary": "A cotação inteira",
        "tags": [
          "Cotações"
        ],
        "description": "A cotação inteira: itens, condições comerciais com os catálogos já resolvidos por nome,\nfornecedores com o estado da conversa de cada um, e os anexos (sem link — o download é feito por\n`/quotations/{id}/documents`).\n\n**`status: \"scheduled\"` é a cotação com disparo marcado que ainda não contatou ninguém** — o\ninstante está em `scheduledFor`, e até ele é possível remarcar ou cancelar sem que nada tenha sido\nenviado. Depois do disparo ela passa a `active`.\n\n**`suppliers[].negotiationStatus`** informa a situação de cada fornecedor: `not_started` ainda não\nfoi disparado; `queued` está na fila de envio; `scheduled` tem hora marcada; `on_hold` aguarda o\ntérmino de outra negociação da mesma empresa com esse fornecedor; `active` está em conversa;\n`completed` respondeu e encerrou; `interrupted` foi cancelado antes de terminar; `failed` não\nconseguiu ser entregue.\n\nUm `id` que não é da empresa da chave responde **404**, igual a um que não existe.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "O identificador do recurso. Deve ser exatamente o `id` devolvido pela API — ele não contém `.`, `#`, `$`, `[`, `]` nem `/`."
          }
        ],
        "security": [
          {
            "partner": []
          }
        ],
        "responses": {
          "200": {
            "description": "A cotação inteira, com o estado da conversa de cada fornecedor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerV1QuotationDetail"
                },
                "examples": {
                  "em_negociacao": {
                    "summary": "cotação em negociação, um fornecedor em espera",
                    "value": {
                      "ok": true,
                      "id": "-OqExemplo1Cotacao01",
                      "externalId": "SC-2026-4417",
                      "name": "Elétrica — obra Campeche",
                      "status": "active",
                      "source": "api",
                      "engine": "b2b",
                      "createdAt": "2026-09-10T12:57:58.605Z",
                      "updatedAt": "2026-09-10T13:58:35.272Z",
                      "scheduledFor": null,
                      "whatsappNumber": "554800000900",
                      "observation": "Entrega em duas etapas.",
                      "createdBy": {
                        "id": "api",
                        "name": "Construtora Exemplo"
                      },
                      "conditions": {
                        "freight": "CIF",
                        "paymentMethod": {
                          "id": "-OqExemplo4Pagamen01",
                          "name": "Boleto 28 dias"
                        },
                        "billingLocation": {
                          "id": "-OqExemplo3Faturam01",
                          "name": "Matriz"
                        },
                        "deliveryLocation": {
                          "id": "-OqExemplo2Entrega01",
                          "name": "Obra Campeche"
                        },
                        "proposalDeadline": "2026-09-18",
                        "deliveryDeadline": null
                      },
                      "items": [
                        {
                          "itemNumber": 1,
                          "description": "Disjuntor DIN 20A monopolar",
                          "quantity": 20,
                          "unit": "UN",
                          "estimatedPrice": "18.90",
                          "observation": "Curva C",
                          "purchaseRequestId": 441701
                        }
                      ],
                      "suppliers": [
                        {
                          "supplierId": "5548999990000",
                          "name": "Elétrica Aurora Ltda",
                          "contactName": "Marcos",
                          "phone": "5548999990000",
                          "selected": true,
                          "negotiationStatus": "active",
                          "winner": false
                        },
                        {
                          "supplierId": "5511999990000",
                          "name": "Componentes Vega",
                          "contactName": null,
                          "phone": "5511999990000",
                          "selected": true,
                          "negotiationStatus": "on_hold",
                          "winner": false
                        }
                      ],
                      "documents": [
                        {
                          "id": "1",
                          "description": "Memorial descritivo",
                          "filename": "1788894382531-a1b2c3.pdf"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "O `id` na URL contém um caractere que não pode fazer parte de um identificador da dgenny. Deve ser usado exatamente o `id` devolvido pela API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "validation_error": {
                    "summary": "id com um caractere impossível",
                    "value": {
                      "ok": false,
                      "error": "validation_error",
                      "message": "id inválido: não pode conter . # $ [ ] / nem caracteres de controle.",
                      "field": "id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave ausente, inválida ou revogada. Sempre com esta mensagem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized",
                    "value": {
                      "ok": false,
                      "error": "unauthorized",
                      "message": "Token ausente, inválido ou revogado."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A chave é válida, mas não possui o escopo exigido por este endpoint. É o único 403 relativo à CHAVE — credencial inválida continua sendo 401.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "forbidden_scope": {
                    "summary": "forbidden_scope",
                    "value": {
                      "ok": false,
                      "error": "forbidden_scope",
                      "message": "Esta chave não tem o escopo 'read', exigido por este endpoint."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não existe cotação com esse `id` **na empresa da chave**. Um `id` de outra empresa recebe a mesma resposta, deliberadamente: distinguir \"não existe\" de \"pertence a outra empresa\" transformaria este endpoint num verificador de identificadores de outros clientes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "ok": false,
                      "error": "not_found",
                      "message": "Cotação -OqExemplo1Cotacao01 não encontrada."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Cota da hora corrente excedida. O cabeçalho `Retry-After` informa os segundos restantes.",
            "headers": {
              "Retry-After": {
                "description": "Segundos até a reabertura da janela.",
                "schema": {
                  "type": "integer",
                  "example": 1800
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "ok": false,
                      "error": "rate_limited",
                      "message": "Limite de leituras por hora atingido. Tente novamente em 1800s."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Falha interna da dgenny. Nenhum detalhe interno é exposto: ele permanece apenas no log da dgenny. A MESMA requisição pode ser reenviada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "ok": false,
                      "error": "internal_error",
                      "message": "Falha interna. Pode reenviar a mesma requisição."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Altera a cotação (só rascunho)",
        "tags": [
          "Cotações"
        ],
        "description": "Altera uma cotação **que ainda não foi disparada**. Apenas os campos que mudam precisam ser\nenviados; o que não vier permanece como está.\n\n**Só rascunho.** Uma cotação em negociação responde **409 `invalid_state`** — o fornecedor já leu\no pedido, e reescrevê-lo por baixo transformaria a conversa dele numa proposta para outra coisa.\nUma cotação com disparo **agendado** também: a lista que sai na hora marcada já está fechada. O\nprocedimento é cancelar o agendamento (`DELETE /quotations/{id}/scheduled-start`), editar e\nagendar novamente.\n\nO que o schema não informa e é necessário saber:\n\n- **`items` é a lista COMPLETA e substitui a atual.** Enviar apenas a linha alterada apagaria as\n  demais. Os `itemNumber` continuam únicos dentro da cotação;\n- **os três catálogos entram só como `{ \"id\": \"...\" }`**, apontando um registro que já existe\n  (`GET /partner/v1/catalogs/{type}`). Ao contrário da criação, esta rota não cadastra catálogo\n  novo: uma edição que cria registro na conta como efeito colateral não é desfeita ao se desfazer\n  a edição;\n- **`deliveryDeadline: null` é \"entrega a combinar\"**, que é um valor de negócio — não é apagar o\n  campo;\n- **campo desconhecido é recusado** com 400. Esta rota substitui o que está gravado, e um nome\n  grafado incorretamente que passasse em silêncio devolveria 200 sem ter alterado nada;\n- **corpo vazio é recusado**, pelo mesmo motivo.\n\nA resposta é a cotação inteira **relida depois da alteração** — a mesma forma de\n`GET /quotations/{id}`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "observation": {
                    "type": "string"
                  },
                  "freight": {
                    "type": "string",
                    "enum": [
                      "CIF",
                      "FOB",
                      "INSTALLED",
                      "PICKUP",
                      "NO_FREIGHT",
                      "NEGOTIABLE"
                    ]
                  },
                  "proposalDeadline": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                    "description": "Data no formato `YYYY-MM-DD`."
                  },
                  "deliveryDeadline": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                        "description": "Data no formato `YYYY-MM-DD`."
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "deliveryLocation": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  },
                  "billingLocation": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  },
                  "paymentMethod": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  },
                  "items": {
                    "minItems": 1,
                    "maxItems": 200,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemNumber": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "description": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "number",
                          "exclusiveMinimum": 0
                        },
                        "unit": {
                          "type": "string",
                          "minLength": 1
                        },
                        "estimatedPrice": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ],
                          "description": "Valor em reais. Aceita **string** (`\"1234.56\"`, o formato que a API devolve) ou **número**\n(`1234.56`), com até 2 casas decimais e ponto como separador.\n\nRecusado com `validation_error`: valor negativo, mais de 2 casas decimais e formato com\nvírgula (`\"1.234,56\"`). A vírgula não é convertida de propósito — `\"1.234,56\"` e `\"1,234.56\"`\nsão o mesmo valor em duas convenções, e inferir qual delas foi utilizada produziria um erro\nde 1000× exatamente uma vez. A resposta sempre traz a string normalizada."
                        },
                        "observation": {
                          "type": "string"
                        },
                        "purchaseRequestId": {
                          "description": "Número da solicitação de compra desta linha no sistema consumidor, como INTEIRO. É por ele que a proposta do fornecedor é associada de volta à linha, e a comparação é numérica.",
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "itemNumber",
                        "description",
                        "quantity",
                        "unit"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": false
              },
              "examples": {
                "um_campo": {
                  "summary": "só o nome muda",
                  "value": {
                    "name": "Elétrica — obra Campeche (revisão 2)"
                  }
                },
                "prazos": {
                  "summary": "os dois prazos, com a entrega passando a \"a combinar\"",
                  "value": {
                    "proposalDeadline": "2026-09-22",
                    "deliveryDeadline": null
                  }
                },
                "itens": {
                  "summary": "a lista COMPLETA de itens, que substitui a atual",
                  "value": {
                    "items": [
                      {
                        "itemNumber": 1,
                        "description": "Disjuntor DIN 20A monopolar",
                        "quantity": 30,
                        "unit": "UN",
                        "estimatedPrice": "18.90",
                        "purchaseRequestId": 441701
                      },
                      {
                        "itemNumber": 2,
                        "description": "Cabo flexível 2,5mm² azul",
                        "quantity": 200,
                        "unit": "M",
                        "estimatedPrice": 3.4
                      }
                    ]
                  }
                },
                "condicoes": {
                  "summary": "frete, observação e o local de entrega por id já cadastrado",
                  "value": {
                    "freight": "FOB",
                    "observation": "Entregar pela manhã; portaria fecha às 12h.",
                    "deliveryLocation": {
                      "id": "-OqExemplo2Entrega01"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "O identificador do recurso. Deve ser exatamente o `id` devolvido pela API — ele não contém `.`, `#`, `$`, `[`, `]` nem `/`."
          }
        ],
[...]
